flask==3.0.2
flask-cors==4.0.0
flask-limiter==3.5.0
flask-sqlalchemy>=2.5.1
pg8000>=1.29.1
python-dotenv==1.0.1
requests==2.31.0
supabase>=2.15.1
asgiref>=3.7.2
uvicorn>=0.15.0
aiohttp>=3.11.18,<4.0.0
numpy>=1.26.0,<2.0.0
pandas==2.2.1
beautifulsoup4>=4.9.3
lxml>=4.6.3
certifi==2024.2.2
colorama>=0.4.1
PySocks>=1.7.0
requests-futures>=1.0.0
torf>=1.0.0
nest-asyncio>=1.6.0
python-dateutil>=2.8.2
pytz>=2020.1
tzdata>=2022.7
charset-normalizer>=2.0.0
idna>=2.5
urllib3>=1.21.1
aiohappyeyeballs>=2.3.0
aiosignal>=1.1.2
attrs>=17.3.0
frozenlist>=1.1.1
multidict>=4.5,<7.0
propcache>=0.2.0
yarl>=1.17.0,<2.0
six>=1.5
python-whois==0.8.0
sublist3r==1.0
